.cityInfo{
    font-size: 13px;
    padding-bottom: 20px;
    margin: auto;
    width: 25%;
    @include respond-to('small') {
    	top:auto;
    	width: 120px;
    	margin-top: 40px;
       }
      @include respond-to('medium') {
		top:auto
	  }
        @include respond-to('large') {
		top: auto;
		width: 120px;
      }

}